﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>{{data.testname}} - {{data.base_url}}</title>

    <!--  -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


    <style>

        /* croping images*/
        img.screenshot {
            float: left;
            margin: .5em 10px .5em 0;
            overflow: hidden; /* this is important */
            position: relative; /* this is important too */
            border: 1px solid #ccc;
            width: 250px;
            height: 125px;
        }


        table.ResultsTable {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td.ResultsTD, th.ResultsTH {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even).ResultsTR {
            background-color: #dddddd;
        }
        /*END: croping images*/

        /* modal section*/
        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 80%; /* Could be more or less, depending on screen size */
        }

        /* The Close Button */
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .close:hover,
            .close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }

        /* modal section END*/

    </style>
</head>
<body>


    <h1>SUMMARY REPORT</h1>
    <table>
        <tr>
            <td>test name:</td>
            <td>{{data.testname}}</td>
        </tr>
        <tr>
            <td>base url:</td>
            <td>{{data.base_url}}</td>
        </tr>
        <tr>
            <td>start time:</td>
            <td>{{data.starttime}}</td>
        </tr>
        <tr>
            <td>elapsed time:</td>
            <td>{{data.timeelapsed}}s</td>
        </tr>
        <tr>
            <td>Crawled Pages:</td>
            <td>{{data.crawledPages}}</td>
        </tr>
        <tr>
            <td>errors:</td>
            <td>{{data.errors}}</td>
        </tr>
    </table>
    </br>

    {% if data.CrawledPages is not none %}
    <h2>Crawled Pages Summary:</h2>
    <table class="ResultsTable">
        <thead>
            <tr class="ResultsTR">
                <th class="ResultsTH">TITLE/URL</th>
                <th class="ResultsTH">Elapsed time</th>
                <th class="ResultsTH">HAR file</th>
                <th class="ResultsTH">screenshot</th>
                <th class="ResultsTH">Child Pages</th>
                <th class="ResultsTH">requests by status codes</th>
            </tr>
        </thead>

        {% for item in data.CrawledPages %}
        {% set cc = loop.index %}
        <!--<div>{{item['Url']}}</div>
    <div>- {{item.Url}}</div>-->
        <tr class="ResultsTR">
            <td class="ResultsTD">
                <div>{{item.PageTitle}}</div>
                <div>(<a href="{{item.Url}}">{{item.Url}}</a>)</div>
            </td>
            <td class="ResultsTD">{{item.ElapsedTime}}s</td>
            <td class="ResultsTD"><a href="{{item.HarFileLocation}}">link</a></td>
            <td class="ResultsTD"><div style="width: 250px; height: 150px; overflow: hidden"><a href="{{item.ScreenshotLocation}}" target="_blank"><img src="{{item.ScreenshotLocation}}" width="250" /></a></div></td>
            <td class="ResultsTD">
                <a onclick="document.getElementById('urllist{{cc}}').style.display='block'" >no. of child urls: {{item.ChildUrls|count}}</a>
                <div id="urllist{{cc}}" class="w3-modal">
                    <div class="w3-modal-content">
                        <div class="w3-container">
                            <span onclick="document.getElementById('urllist{{cc}}').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                            <ul>
                                {% for link in item.ChildUrls %}
                                <li><a href="{{link}}">{{link}}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </td>
            <td class="ResultsTD">
                {% for key, value in item.Networkrequests.RequestsByStatusCodes.items() %}
                {% if value|count > 0 %}
                <a onclick="document.getElementById('{{key}}{{cc}}').style.display='block'"><div style="font-weight: bold;color:{% if '5xx' in key %}red{% endif %};">{{key}} - {{value|count}}</div></a></br>
                <div id="{{key}}{{cc}}" class="w3-modal">
                    <div class="w3-modal-content" style="width: 90%; word-wrap: break-word;">
                            <span onclick="document.getElementById('{{key}}{{cc}}').style.display='none'"
                                  class="w3-button w3-display-topright">&times;</span>
                        <div class="w3-container">
                            <ul>
                                {%for item in value %}
                                <li><a href="{{item.url}}">{{item.url}}</a> - <b><span style="color:{% if 'GET' in item.method %}blue{% endif %}{% if 'PUT' in item.method %}orange{% endif %}{% if 'DELETE' in item.method %}red{% endif %}{% if 'POST' in item.method %}green{% endif %}"> {{item.method}}</span> - {{item.status}}</b> - {{item.text}}</li>

                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}

            </td>
        </tr>

        {% endfor %}
    </table>
    {% else%}
    <h3>NO DATA TO DISPLAY</h3>
    {%endif %}

    <h2>ERRORS:</h2>
    <ul>
        {% for key, value in data.Errors.items()  %}
        <li>{{key}} - {{value}}</li>
        {% endfor %}
    </ul>


</body>
        </html>
